KEYVAULT_NAME="rsobingusivault"
K8S_NAMESPACE="rso"
RELEASE_NAME="svc-courses"

# Database configuration
DB_SECRET="svc-courses-db-credentials"
DB_NAME="courses"

# Docker image configuration
IMAGE_PLATFORMS="linux/arm64"
IMAGE_FLOATING_TAG="dev"
IMAGE_NAME="svc-courses"
